body{
    position: relative;
    padding: 10px;
    background-image: url('https://wallpaperaccess.com/full/2616406.jpg');
    color:  MediumSeaGreen;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1480;
    width: 2560px;
}

.row{
color: MediumVioletRed;}

h4{
    color:crimson;
    font-family: Sans-serif;
    font-size: 15px;
  }

h3{
    padding: 10px;
    margin-bottom: 20px;
    font-style: italic;
    font-size: 21px;
}