<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/Images/VaccineSlide2.jpg" class="d-block w-100" alt="First Slide">
                <div class="carousel-caption d-none d-md-block">
                  <h5 class="animated zoomIn" style="animation-delay: 0.5s">Get Yourself Vaccinated</h5>
                  <p class="animated fadeInUp" style="animation-delay: 0.5s">Vaccines are safe, effective and life saving
                  -Alex Azar</p>
                </div>
            </div>
        </div>
    </div>
