<br>
<br>

<div class="container">
    <div class="card">
      <app-accordion>
        <app-accordion-item title="Why is vaccination so important?">
            A vaccine activates our immune system without making us sick. 
            Many dangerous infectious diseases can be prevented in this simple and effective way.
        </app-accordion-item>
        <app-accordion-item title="Simple and effective protection">
            We often develop lifelong immunity when we have had a disease.  
            However, some diseases may lead to serious complications and sometimes death. 
            The aim of vaccination is to obtain this immunity without any of the risks of having the disease.
            When we vaccinate, we activate the immune system's "memory." During vaccination, a weakened microbe, a fragment, or something that resembles it, is added to the body. 
            The immune system is then activated without us becoming sick. Some dangerous infectious diseases can be prevented in a simple and effective way. 
            For some diseases, vaccination provides lifelong protection, while for others the effect is diminished after a few years and booster doses are required
        </app-accordion-item>
        <app-accordion-item title="What happens in the body when we vaccinate?">
            During vaccination, the body is exposed to either a weakened microbe (bacteria or virus), fragments of a microbe, or something that resembles the microbe. 
            When the active substances in the vaccine meet the body's immune system, immune cells and antibodies are produced that will recognise the "real" microbe. 
            When the vaccinated person encounters this microbe, the immune system will provide a faster and better immune response that can prevent disease. 
            This is artificially acquired active immunity.
            A good vaccine will provide adequate and prolonged protection against the disease. 
            The number of doses needed varies from vaccine to vaccine. For some vaccines, there is a need for a booster dose later in life to maintain protection. 
            These include vaccines against tetanus, diphtheria, polio and pertussis. Booster doses may also be required for travel vaccines.
        </app-accordion-item>
        <app-accordion-item title="What is immunity?">
            When the body is infected with a microbe (virus, bacterium, parasite or fungus), it stimulates the production of important immune cells. 
            After recovery from a disease, some of the immune cells will "remember" these microbes. This is called immunological memory. 
            Next time the body is exposed to the same type of microbe, the immune system will recognise it. 
            The body's defence against the disease becomes faster and more powerful and can prevent the person from becoming ill. 
            This is naturally acquired active immunity.
        </app-accordion-item>
        <app-accordion-item title="Herd immunity">
            When the majority of the population has been vaccinated against a disease, there will be few people left to whom the infection can spread. 
            This protects the few who have not been vaccinated.
            With the help of vaccination, it is possible to entirely eradicate some diseases worldwide. 
            So far, this has been achieved for smallpox.
        </app-accordion-item>
      </app-accordion>
    </div>
</div>
