<body>
    <div class="container" align="center">
      <div class="row">
        <div class="col-md-6 offset-md mt-4">
        <h2>RESET PASSWORD</h2>
        <form>
          <form>
            <div class="form-group">
            <label for="resetpassword email">Account Password:&nbsp;</label>
            <input type="email" size=25px class="form-control" id="resetpassword email" placeholder="Enter email">
            </div><br>
            <button type="submit" class="btn btn-primary">Reset Password<i class="fas fa-paper-plane"></i></button>
          </form>
        </form>
        </div> 
      </div>
    </div>
  </body>